*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 45vh;
    background-color: white;
    border-radius: 0.8rem;
    padding: 2rem;
    min-height: 5rem;
}

form{
    margin: 2rem 0 2rem 0;
}

input{
    width: 95%;
    margin: 2rem 0 2rem 0;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 0.1rem solid salmon;
    padding-left: 0.6rem;
    font-size: large;
    color: rgb(71, 17, 11);
}

.currency-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container{
    display: flex;
}

select{
    width: 100%;
    height: 2rem;
    border: none;
    margin-left: 0.3rem;

}

img{
    width: 2rem;
}

i{
    margin: 2rem 0 2rem 0;
}

.msg{
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(29, 185, 133);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
}